* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
}
h2 {
    font-family: "Poppins";
    color: #d59c41;
}
/* -------------------------------header--------------------------------- */
header {
    background-color: #1c4839;
    color: #d59c41;
    padding: 15px;
}
.logo {
    width: 120px;
    margin-top: 15px;
}
#formatted-date {
    display: block;
    background-color: #f4e9e3;
    color: #d59c41;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    margin: 15px 0;
}
#banner {
    padding: 10px;
    text-align: center;
}
/* --------------------------------nav----------------------------------- */
nav ul {
    list-style: none;
    font-size: 25px;
    padding: 0;
    margin: 0;
    display: none;
}
nav ul.open {
    display: block;
}
nav ul li a {
    color: #d59c41;
    text-decoration: none;
    font-family: "Poppins";
    border-top: 1px solid #d59c41;
    display: block;
    padding: .8rem 2vw;
    font-weight: bold;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #d59c41;
}
nav button:hover {
    color: #9f4900;
}
nav ul li a:hover {
    background-color: #9f4900;
}
/* --------------------------------main---------------------------------- */
/* hero */
.hero {
    position: relative;
}
.hero img {
    width: 100%;
}
.hero_title {
    position: absolute;
    top: 1rem;
    left: 10px;
}
.hero h2 {
    font-weight: bold;
    padding: 0 5px;
    font-size: 25px;
    color: #d59c41;
    font-weight: bolder;
    background-color: #f4e9e3;
}
.hero_button {
    position: absolute;
    bottom: 15px;
    right: 10px;
}
.hero button {
    border: none;
    background-color: #f4e9e3;
    color: #d59c41;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}
.hero button:hover  {
    background-color: #1c4839;
    color: #d59c41;
    cursor: pointer;
}
/* events */
.events {
    background-color: #f4e9e3;
    padding: 20px;
    text-align: center;
}
.events img {
    width: 50%;
}
/* weather */
.weather {
    text-align: center;
    padding: 0;
    background-color: #fefefefe;
}
.weather img {
    width: 70px;
}
figcaption {
    padding-bottom: 10px;
    color: #9f4900;
}
.weather_information {
    background-color: #1c4839;
    color: #fefefe;
    padding: 10px;
}
.current_weather {
    color: #d59c41;
    font-weight: bold;
    font-size: 25.5px;
    font-family: "Poppins";
}
.weather_title {
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* news */
.news {
    text-align: center;
    background-color: #f4e9e3;
    padding: 20px;
}
/* join */
.join {
    display: none;
}
/* spotlight */
.spotlight {
    margin: 10px;
    background-color: #f4e9e3;
    padding: 15px;
}
.spotlight hr {
    margin: 10px 0;
}
/* spotlight_1 */
.spotlight_1 {
    background-color: #fefefe;
    border-bottom: 1px solid #d59c41;
    text-align: center;
    padding: 15px;
}
.spotlight_1 img {
    width: 150px;
    margin: 5px;
}
/* spotlight_2 */
.spotlight_2 {
    background-color: #fefefe;
    text-align: center;
    padding: 15px;
}
.spotlight_2 img {
    width: 150px;
    margin: 5px;
}
/* spotlight_3 */
.spotlight_3 {
    display: none;
}
/* -------------------------------footer--------------------------------- */
footer {
    background-color: #1c4839;
    color: #d59c41;
    padding: 15px;
    text-align: center;
}
.footer_logo {
    width: 80px;
}
hr {
    color: #d59c41;
}
.direction {
    text-decoration: none;
    color: #d59c41;
}
.footer_line {
    margin-top: 15px;
}

/* --------------------------------------discover page------------------------------------------- */
.discover_main {
    padding: 10px;
}
.discover_main h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.discover_container img {
    width: 100%;
    border-radius: 10px;
}
.information img {
    margin: 15px 0;
}
.image_gallery img {
    margin-top: 20px;
}
.img1 {
    width: 50%;
}
.visit {
    width: 100%;
    background-color: #1c4839;
    color: #d59c41;
    padding: 15px;
    margin: 15px 0;
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
}
/* ---------------------------------------Join Page---------------------------------------------- */
.join_page {
    display: block;
}
.form_container {
    margin-top: 20px;
    background-color: #f4e9e3;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form_container h1 {
    color: #d59c41;
}
fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
legend {
    color: #1c4839;
    padding: 10px;
    font-size: 30px;
}
label {
    color: #434d4f;
    padding: 8px;
}
label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid #1c4839;
    border-radius: 5px;
    padding: .75rem;
    width: 90%;
    max-width: 24rem;
    background-color: rgb(228, 225, 225);
}
label.top input:required {
    border-left: #9f4900 solid 5px;
}
.submitbtn {
    background-color: #9f4900;
    color: #fefefe;
    font-family: "Poppins";
    padding: 15px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submitbtn:hover {
    background-color: #1c4839;
    color: #d59c41;
}
.membership_container {
    display: none;
}
/* --------------------------------------thanks page--------------------------------------------- */
.thanks_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    padding: 50px;
    color: #fefefe;
    font-family: "Roboto";
    background-color: #1c4839;
}
.thanks_img {
    width: 160px;
}
.thanks_h1 {
    color: #d59c41;
    margin: 30px 0;
}
.thanks_p {
    font-size: 20px;
}
.thanks_page button {
    color: #fefefe;
    background-color: #9f4900;
    font-family: "Poppins";
    font-size: 20px;
    padding: 15px;
    border: none;
    width: fit-content;
    border-radius: 25px;
    margin-top: 50px;
}
.thanks_button:hover {
    background-color: #d59c41;
    color: #9f4900;
    cursor: pointer;
}
/* ----------------------------------Directory--------------------------------------------------- */
.directory {
    padding: 15px;
}
/* --------title---------------- */
.directory h1 {
    color: #d59c41;
}
/* ------buttons------------------ */
.grid_list_button {
    text-align: center;
    margin: 30px 0;
}
#list, #grid {
    font-size: 40px;
    color: #9f4900;
    border: 2px solid #9f4900;
    border-radius: 10px;
    padding: 5px 10px;
}
#list {
    margin-right: 10px;
}
#grid {
    margin-left: 10px;
}
/* -----cards serction---------- */
.directory img {
    width: 150px;
}
.directory_container.grid {
    text-align: center;
}
/* ----------cards-------------- */
.cards section {
    margin: 15px 0;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* -------------list change---------- */
.directory_container.list img{
    display: none;
}
.directory_container.list h2 {
    color: black;
    font-size: 17px;
}
.directory_container.list section {
    box-shadow: none;
}
.directory_container.list section:nth-child(even) {
    background-color: #ffe5d0;
}
/* ----------------------------------------------- contact page ---------------------------------- */
.contact_container {
    padding: 10px;
    background-color: #f4e9e3;
}
.contact_container h1 {
    padding: 15px 0;
    color: #d59c41;
}
.map_container {
    margin: 30px 0 20px 0;
}
iframe {
    width: 100%;
    padding-bottom: 20px;
}
.sendbtn {
    background-color: #9f4900;
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 15px;
    color: #fefefe;
    border: none;
    border-radius: 5px;
}
.sendbtn:hover {
    background-color: #d59c41;
    color: #1c4839;
    transition: 0.5s;
    cursor: pointer;
}