body {
    background: rgb(159,247,255);
    background: radial-gradient(circle, rgba(159,247,255,1) 1%, rgba(72,111,140,1) 100%);
    font-family: "Roboto";
}
.container {
    background-color: #fefefe;
}

/* --------------------Card head----------------------------- */
.head {
    background-color: #486f8c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
h1 {
    font-family: "Nunito Sans";
    font-size: 30px;
    color: #fefefe;
    text-align: center;
    margin: 0;
}
img {
    width: 100px;
    height: 100px;
    margin: 0 35%;
}
/* --------------------Card body----------------------------- */
.card {
    padding: 10px 20px;
    font-size: 20px;
}
h2 {
    font-family: "Nunito Sans";
    font-size: 25px;
}
a {
    text-decoration: none;
    color: #486f8c;
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
}
/* -------------------Card footer---------------------------- */
.footer {
    background-color: #486f8c;
    color: #fefefe;
    padding: 10px 20px;
    text-align: center;
}
p {
    margin-bottom: 0;
    margin-top: 5px;
}