@media only screen and (min-width: 36.4em) {
    /* ----------------header-------------------------- */
    #formatted-date {
        padding: 5px;
    }
    /* -----------------main--------------------------- */
    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 40vh 20vh 30vh 160px 250px;
        gap: 10px;
    }
    /* hero */
    .hero {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .hero img {
        width: 100%;
        height: 370px;
        object-fit: cover;
    }
    .hero button {
        right: 10px;
    }
    .hero h2 {
        font-size: 35px;
    }
    /* news */
    .news {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    /* spotlight */
    .spotlight {
        grid-column: 1/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 230px;
        margin: 0;
    }
    .spotlight_1 h2 {
        font-size: 20px;
    }
    .spotlight_1 img {
        width: 30%;
    }
    /* join */
    .join {
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
        background-color: #f4e9e3;
        text-align: center;
        padding: 15px;
    }
    .join button {
        font-family: "poppins";
        border: none;
        background-color: #1c4839;
        color: #d59c41;
        padding: 5px 15px;
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    .join button:hover {
        background-color: #d59c41;
        color: #1c4839;
    }
    .join p {
        margin-top: 20px;
    }
    /* weather */
    .weather {
        background-color: #f4e9e3;
    }
    /* --------------------------footer-------------------------------- */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }
    .information {
        text-align: left;
    }
    .footer_logo {
        width: 100px;
    }
    .contact_info {
        text-align: right;
    }
    .footer_line {
        grid-column: 1/3;
    }
    /* -----------------------------------------------discover page------------------------------- */
    /* --------information------------- */
    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .urban img{
        margin-top: 70px;
    }
    /* --------imagen gallery---------- */
    .img_container {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .img_container picture {
        width: 300px;
    }
    /* --------imagen hover----------- */
    picture {
        position: relative;
    }
    .img_container img {
        display: block;
    }
    .img_card {
        position: absolute;
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }
    picture:hover .img_card {
        opacity: 1;
    }

}